<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to HTTPS" stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                    <add input="{HTTPS}" pattern="off" />
                </conditions>
                <action type="Redirect" url="https://porunpaismejor.com.mx/{R:1}" />
                </rule>
                <rule name="Remove WWW" stopProcessing="true">
                <match url="^(.*)$" />
                <conditions>
                    <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
                </conditions>
                <action type="Redirect" url="https://{C:2}/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>